@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* General */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.text-left {
    text-align: left;
}

/* Headers */

header h1,
h2,
h3 {
    padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

a {
    text-decoration: none;
}

div div h3 {
    padding-bottom: 50px;
}

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    padding-top: 2rem;
}

.page-header h2 {
    margin-top: 0;
}

/* Navbars */

.nav-index {
    background-color: firebrick;
    color: #fafafa;
}

.nav-index a {
    color: #fafafa;
}

.nav-index .active {
    text-decoration: underline;
}

.nav-index a:hover {
    color: #fafafa;
    text-decoration: underline;
}

.nav-index .dropdown-menu,
.nav-index .dropdown-menu .active,
.nav-index .dropdown-menu .dropdown-item:hover {
    background-color: firebrick;
}

.rounded-circle:hover {
    opacity: 0.7;
}

/* Footer */

footer {
    background-color: firebrick;
    color: #fafafa;
}

/* Hero Image */

.hero-image {
    height: 110vh;
    width: 100%;
    background: url('../images/armings_heroes.png') center no-repeat;
    background-size: cover;
    background-position: center;
}

.blurb {
    padding-top: 4%;
    padding-bottom: 0;
}

/* Containers */

.content-container {
    padding-top: 30px;
    padding-bottom: 75px;
}

/* Character Navigation Icons */

.charnav {
    padding-top: 3rem;
}

/* Character Portraits */
.char-pic {
    height: 100vh;
    width: 100%;
}

.syn-char-pic {
    background: url(../images/bell_full.png) center no-repeat;
    background-size: contain;
}

.corlan-char-pic {
    background: url(../images/corlan_full.png) center no-repeat;
    background-size: contain;
}

.sun-char-pic {
    background: url(../images/sun_full.png) center no-repeat;
    background-size: contain;
}

.bao-char-pic {
    background: url(../images/subao_full.png) center no-repeat;
    background-size: contain;
}

/* Bio Space */

.bio-space {
    padding: 2rem;
}

.bio-header,
.bio-info {
    padding: 2rem;
}

/* Stat Bars */

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.stat-type {
    position: absolute;
    left: 0px;
    font-weight: 500;
    padding: 12px 20px 15px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.bio-stats {
    margin: 40px 20px;
}

/*  Responsive design for variable screens */

@media screen and (max-width: 912px) and (orientation: portrait) {
    /* This is specifically for the Surface Pro 7, for which my hatred burns like a thousand suns. */
    .hero-image {
        height: 64vh;
        max-height: 460px;
        background-size: cover;
    }
}

@media screen and (max-width: 1440px) and (orientation: landscape) {
    .hero-image {
        height: 86vh;
        background-size: cover;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    .hero-image {
        height: 84vh;
    }
}

@media screen and (max-height: 768px) and (min-height: 768px) and (orientation: landscape) {
    /* Specifically for the iPad Mini landscape orientation */
    .hero-image {
        height: 70vh;
    }
}

@media screen and (max-width: 1368px) and (min-width: 1368px) and (orientation: landscape) {
    /* Surface Pro 7 landscape orientation */
    .hero-image {
        height: 75vh;
    }
}

@media screen and (max-width: 1180px) and (min-width: 1180px) and (orientation: landscape) {
    /* Specifically for the iPad Air landscape orientation */
    .hero-image {
        height: 77vh;
    }
}

@media screen and (max-width: 820px) {
    .hero-image {
        height: 64vh;
    }
}

@media screen and (max-width: 768px) {
    .hero-image {
        height: 64vh;
    }
}

@media screen and (max-width: 576px) {
    div div h3 {
        padding-bottom: 10px;
    }

    .char-pic {
        height: 50vh;
        width: 80%;
    }

    .charnav-icon {
        margin-bottom: 1rem;
    }

    .syn-char-pic {
        background: url(../images/bell_bust.png) center no-repeat;
        background-size: contain;
    }

    .corlan-char-pic {
        background: url(../images/corlan_bust.png) center no-repeat;
        background-size: contain;
    }

    .sun-char-pic {
        background: url(../images/sun_bust.png) center no-repeat;
        background-size: contain;
    }

    .bao-char-pic {
        background: url(../images/subao_bust.png) center no-repeat;
        background-size: contain;
    }

    .bio-space {
        padding: 1rem;
    }

    .bio-header,
    .bio-info {
        padding: 1rem;
    }
}